.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  height: calc(100% - 3.75vh);
}

.skillContainer {
  display: grid;
  grid-template-columns: 1fr;
  
  width: 23.4375rem;
}

.normal {
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: row-reverse;

  margin-top: -1rem;
}

.right + .normal {
  margin-top: -1rem;
}
