.content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  height: calc(100vh - 3.75vh);

  transition: all 0.5s ease;
}

.presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
  width: 50.125rem;

  margin-left: 5.75rem;

  transition: all 0.5s ease;
}

.presentation h1 {
  font-size: 4rem;

  margin-bottom: 5.375rem;

  transition: all 0.5s ease;
}

.presentation h2 {
  font-size: 3rem;

  text-align: center;

  transition: all 0.5s ease;
}

.presentation h2 span {
  color: var(--purple);

  filter: blur(0.050rem);
}

.presentation p {
  font-size: 1.5rem;
  color: var(--green);

  margin-top: 2.375rem;
}

.presentation p + p {
  font-size: 1.5rem;
  color: var(--gray);

  width: 41.9375rem;

  text-align: justify;

  margin-top: 7.875rem;
}

.skillContainer {
  display: grid;
  grid-template-columns: 1fr;
  
  min-width: 375px;

  margin-right: 16.0625rem;

  transition: all 0.5s ease;
}

.normal {
  display: flex;
  flex-direction: row;
}

.right {
  display: flex;
  flex-direction: row-reverse;

  margin-top: -1rem;
}

.right + .normal {
  margin-top: -1rem;
}

@media (max-width: 1800px) {
  .skillContainer {
    margin-right: 10rem;
  }
}

@media (max-width: 1600px) {
  .skillContainer {
    margin-right: 4rem;
  }
}

@media (max-width: 1300px) {
  .content {
    justify-content: center;
  }

  .presentation {    
    margin-left: 0;
  }

  .skillContainer {
    visibility: hidden;
  }
}

@media (max-width: 800px) {
  .presentation {
    width: 100%;
  }

  .presentation h1 {
    font-size: 3rem;
  }

  .presentation h2 {
    font-size: 2rem;
  }

  .presentation p {
    font-size: 1rem;
  }

  .presentation p + p {
    font-size: 1rem;
  }
}

@media (max-width: 600px) {
  .presentation {
    width: 90%;
  }

  .presentation h1 {
    font-size: 2rem;
  }

  .presentation h2 {
    font-size: 1.5rem;
  }

  .presentation p {
    font-size: 0.75rem;
  }

  .presentation p + p {
    font-size: 0.75rem;
  }
}

@media (max-width: 500px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 15rem;
  }

  .presentation {
    width: 90%;
    margin-left: 0;
  }

  .presentation h1 {
    margin-bottom: 2.5rem;
  }

  .presentation h2 {
    margin-bottom: 0;
  }

  .presentation p {
    margin-bottom: 0;
  }

  .presentation p + p {
    width: 80%;
    margin-top: 3rem;
  }
}