:root {
  --white: #EDE5FF;
  --gray: #E2DAF2;
  --purple: #6A2CF2;
  --blue: #2F7EDA;
  --green: #0DEE67;
  --orange: #E8862B;
  --black: #050010;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--black);
  color: var(--gray);
  -webkit-font-smoothin: antialiased;
}

body, input, textarea, button {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
